<ion-view view-title="Inicio">
  <ion-content>
    <h3>Bienvenido a VoyLlegando</h3>
    <p>Con esta app podrás enviar avisos de que estas llegando a algún lugar concreto. No tendrás que volver a coger el móvil mientras conduces para indicar que estás llegando
    solo tendrás que configurar un aviso en la aplicación y listo!</p>
    <br/>
    <h3>¿Cómo usar la aplicación?</h3>
    <p>Lo primero que tienes que hacer es configurar un nuevo evento en el menú de la izquierda, puedes acceder a él pulsando en la esquina superior izquierda y seleccionado
    la opción <a href="#/app/mapa">planifica!</a>. Dependiendo del tipo de evento que quieras configurar tendrás dos opciones:</p>
    <ul>
    	<li><b>Evento:</b> Fija un evento para varias personas e invitalas mediante un código de invitación que te proporcionará la aplicación. Conforme los participantes se vayan acercando al punto de reunión se irá avisando a los demás.</li>
    	<li><b>Alerta:</b> Establece un lugar y cuando te estes acercando a ese lugar se enviará un mensaje a las personas que tu quieras.</li>
  </ion-content>
</ion-view>
